.logon-usuario-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logon-usuario-container section.form{
    width: 100%;
    max-width: 350px;
    margin-right: 20px;
}
.logon-usuario-container section.form form{
    margin-top: 30px;
}
.logon-usuario-container section.form form h1{
    font-size: 32px;
    margin-bottom: 20px;
}
.logon-usuario-container section.form form input{
    margin-bottom: 12px;
}